---
http_interactions:
- request:
    method: get
    uri: https://reddit.com/r/hockey/hot.json?limit=10&sr_detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Retry-After:
      - '0'
      Location:
      - https://www.reddit.com/r/hockey/hot.json?limit=10&sr_detail
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Jul 2018 01:52:37 GMT
- request:
    method: get
    uri: https://www.reddit.com/r/hockey/hot.json?limit=10&sr_detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "dist": 12, "children":
        [{"kind": "t3", "data": {"approved_at_utc": null, "subreddit": "hockey", "selftext":
        "**Roast Schedule:**\n\n[Washington Capitals - 6/28](https://www.reddit.com/r/hockey/comments/8ujrwx/offseason_the_rhockey_roast_of_the_washington/)\n\n[Vegas
        Golden Knights - 6/29](https://www.reddit.com/r/hockey/comments/8ut6qa/offseason_the_rhockey_roast_of_the_vegas_golden/?st=JJ0JAWVA&amp;sh=a6efb60d)\n\n[Winnipeg
        Jets - 6/30](https://www.reddit.com/r/hockey/comments/8v20c6/offseason_the_rhockey_roast_of_the_winnipeg_jets/?st=JJ3E8RO9&amp;sh=1b640a92)\n\n[Tampa
    [...]
