---
http_interactions:
- request:
    method: get
    uri: https://reddit.com/r/soccer/hot.json?limit=10&sr_detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Retry-After:
      - '0'
      Location:
      - https://www.reddit.com/r/soccer/hot.json?limit=10&sr_detail
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Jun 2018 21:54:30 GMT
- request:
    method: get
    uri: https://www.reddit.com/r/soccer/hot.json?limit=10&sr_detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "dist": 12, "children":
        [{"kind": "t3", "data": {"approved_at_utc": null, "subreddit": "soccer", "selftext":
        "#[](#sprite7-p401) FIFA World Cup Russia 2018\n\n***\n\n#Group Stage\n\n\n\n###[](#icon-trophy-big)
        Group A\n\nTeam|Pld|W|D|L|GF|GA|GD|Pts\n:--|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:\n[](#sprite6-p185)
        [Uruguay](https://www.reddit.com/r/soccer/comments/8io9ev/team_preview_uruguay_2018_world_cup_432/)|3|3|0|0|5|0|+5|9\n[](#sprite6-p142)
        [Russia](https://www.reddit.com/r/soccer/comments/8hxkwo/team_preview_russia_2018_world_cup_132/)|3|2|0|1|8|4|+4|6\n[](#sprite6[...]
