---
http_interactions:
- request:
    method: get
    uri: https://reddit.com/r/soccer/hot.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Retry-After:
      - '0'
      Location:
      - https://www.reddit.com/r/soccer/hot.json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 14 Jun 2018 21:12:49 GMT
- request:
    method: get
    uri: https://www.reddit.com/r/soccer/hot.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "dist": 27, "children":
        [{"kind": "t3", "data": {"approved_at_utc": null, "subreddit": "soccer", "selftext":
        "#[](#sprite7-p401) FIFA World Cup Russia 2018\n\n***\n\n#Group Stage\n\n\n\n###[](#icon-trophy-big)
        Group A\n\nTeam|Pld|W|D|L|GF|GA|GD|Pts\n:--|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:\n[](#sprite6-p142)
        [Russia](https://www.reddit.com/r/soccer/comments/8hxkwo/team_preview_russia_2018_world_cup_132/)|1|1|0|0|5|0|+5|3\n[](#sprite6-p52)
        [Egypt](https://www.reddit.com/r/soccer/comments/8if9qq/team_preview_egypt_2018_world_cup_332/)|0|0|0|0|0|0|0|0\n[](#sprite6-p185)[...]
